body {
    background-color: rgb(231, 182, 190);
    background-color: #f0d1df;
    color: #bf4141;
    color: red;
    /* color: black; */
    font-family: Helvetica, Arial, sans-serif;
    font-family: "IBM Plex Sans", sans-serif;
    margin: 5vh 0 5vh 0;
    padding: 2vw;
}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 60px;
    font-size: 5vw;
    font-size: 3vh;
    text-transform: capitalize;
    position: fixed;
    top: 10px;
    margin: 0;
    right: 12px ;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 2vh;
    text-transform: capitalize;
    margin: 0;
}

p {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: "IBM Plex Sans", sans-serif;
}

.showme {
   /* border-style: solid;
   border-width: 1px;
   border-color: green; */
}

#nav-contact a {
   color: red;
   text-decoration: none;
   border-style: solid;
   border-width: 2px;
   border-color: red;
   padding: 3px 8px 3px 8px;
   padding: 3px 8px;
   /* margin: 200px 0 200px 0; */
   position: fixed;
   bottom: 15px;
   right: 15px;
   display: inline-block;
   opacity: 1.0;
   /*border-radius: 40px;*/
}

#nav-contact a:hover {
    color: red;
    border-color: red;
    opacity: 0.5;
}

.row {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;

}

.col {
    padding: 50px;
    padding: 3vw;
}

.col img {
    width: 100%;
}

#content {

}